/* Start Variables */
:root {
    --main-color: #10cab7 ;
}
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth ;
}
body {
    font-family: "Work Sans", sans-serif;
}
.parent {
    background-color: #eee ;
}
.container {
    padding-left: 15px ;
    padding-right: 15px ;
    margin-left: auto ;
    margin-right: auto ;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px ;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px ;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px ;
    }
}
/* End Global Rules */
/* Start Components */
.speecial-heading {
    color: #ebeced ;
    font-size: 100px ;
    text-align: center ;
    font-weight: 800 ;
    letter-spacing: -4px ;
    margin: 0 ;
}
.speecial-heading + p {
    margin: -30px 0 0 ;
    text-align: center ;
    color: #797979 ;
}
@media (max-width: 767px ) {
    .speecial-heading {
        font-size: 60px ;
    }
    .speecial-heading + p {
        margin-top: -20px ;
    }
} 
/* End Components */
/* Stert Header Style */
.header {
    padding: 20px ;
    
}
.header .containar {
    display: flex ;
    justify-content: space-between ;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .link {
    position: relative ;
}
.header .link:hover .icon span:nth-child(2) {
    width: 100% ;
}
.header .link .icon {
    width: 30px ;
    display: flex ;
    flex-wrap: wrap ;
    justify-content: flex-end ;
}
.header .link span {
    background-color: #333 ;
    margin-bottom: 5px ;
    height: 2px ;
}
.header .link .icon span:first-child {
    width: 100% ;
}
.header .link .icon span:nth-child(2) {
    width: 60%  ;
    transition: 0.3s ;
}
.header .link .icon span:last-child {
    width: 100% ;
}    
.header .link ul::before {
    content: "" ;
    border-style: solid ;
    border-width: 10px  ;
    border-color: transparent transparent #f6f6f6 transparent ;
    position: absolute ;
    right: 5px ;
    top: -20px ;
}
.header .link ul {
    list-style: none ;
    margin: 0 ;
    padding: 0 ;
    background-color: #f6f6f6 ;
    position: absolute ;
    right: 0 ;
    min-width: 200px ;
    top: calc(100% + 15px) ;
    display: none ; 
    z-index: 1 ;
}
.header .link:hover ul {
    display: block ;
}
.header .link ul li a {
    padding: 15px ;
    display: block ;
    text-decoration: none ;
    color: #333 ;
    transition: 0.3s ;
}
.header .link ul li a:hover {
    padding-left: 25px ;
}
.header .link ul li:not(:last-child) a {
    border-bottom: 1px solid ;
}
/* End Header Style */
/* Start Landing Section Style */
.landing {
    background-image: url(../images/10.jpeg) ;
    background-size: cover ;
    height: calc(100vh - 64px);
    position: relative ;
}
.landing .intro-text {
    position: absolute ;
    left: 50% ;
    top: 50% ;
    transform: translate(-50% , -50%) ;
    text-align: center ;
    width: 320px ;
    max-width: 100% ;
}
.landing .intro-text h1 {
    font-size: 50px ;
    font-weight: bold ;
    margin: 0 ;
    color:#098276 ;
}
.Landing .intro-text p {
    font-size: 19px ;
    line-height: 1.8 ;
}
/* End Landing Section Style */
/* < !-- Start Features Style --> */
.features {
    padding-bottom: 60px ;
    padding-top: 60px ;
    background-color: #f6f6f6;
}
.features .container {
    display: grid ;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
    gap: 20px ;
}
.features .feat {
    padding: 20px ;
    text-align: center ;
}
.features .feat i {
    color: #10cab7 ; 
}
.features .feat h3 {
    font-weight: 800 ;
    margin: 30px 0 ;
}
.features .feat p {
    line-height: 1.8 ;
    color: #777 ;
    font-size: 17px ;
}
/* < !-- End Features Style --> */
/*  Start Services Style  */
.service {
    padding-bottom: 60px ;
    padding-top: 60px ;
}
.service .services-content {
    display: grid ;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
    gap: 30px ;
    margin-top: 100px ;
}
.service .services-content .srv {
    display: flex ;
    margin-bottom: 40px ;
}
@media (max-width: 767px) {
    .service .services-content .srv {
        flex-direction: column ;
        text-align: center ; 
    }
}
.service .services-content .srv i {
    color: #10cab7 ;
    flex-basis: 60px ;
}
.service .services-content .srv .text {
    flex: 1 ;
}
.service .services-content .srv .text h3 {
    margin: 0 0 20px ;
}
.service .services-content .srv .text p {
    color: #777 ;
    font-weight: 700 ;
    line-height: 1.6 ;
}
.service .services-content .image {
    text-align: center ;
    position: relative ;
}
.service .services-content .image img {
    width: 100% ;
}
.service .services-content .image::before {
    content: "" ;
    background-color: #2c4755 ;
    width: 100px ;
    height: calc(100% + 100px) ;
    top: -50px ;
    position: absolute  ;
    right: 0 ;
    z-index: -1 ;
}
@media (max-width: 1199px) {
    .image-coloumn {
        display: none ;
    }
}
/* End Services Style  */
/* Stert Protfolio Style  */
.Protfolio {
    padding-bottom: 60px ; 
    padding-top: 60px ;
    background-color: #f6f6f6 ;
}
.Protfolio .Protflio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
.Protfolio .Protflio-content .card {
    background-color: white ;
}
.Protfolio .Protflio-content .card img {
    width: 100%;
    max-width: 100% ;
}
.Protfolio .Protflio-content .card .info {
    padding: 20px ;
}
.ProtProtfoliofolio .Protflio-content .card .info h3 {
    margin: 0 ;
}
.Protfolio .Protflio-content.card .info p {
    color: #777 ;
    line-height: 1.6 ;
    margin-bottom: 0 ;
}
/*  End Protflio Style  */
/* Stert About Style  */
.about {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #f6f6f6;
}
.about .about-content {
    margin-top: 100px ;
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-between ;
}
@media (max-width: 991px){
    .about .about-content {
        flex-direction: column ;
        text-align: center ;
    }
}
.about .about-content .image {
    position: relative ;
    width: 400px ;
    height: 375px ;
    text-align: center;
}
@media (max-width: 991px) {
    .about .about-content .image{
        margin: 0 auto 60px ;
    }
}
.about .about-content .image img {
    width: 100% ;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px) ;
} 
.about .about-content .text p:first-of-type {
    font-weight: bold ;
    line-height: 2 ;
    margin-bottom: 50px ;
}
.about .about-content .text hr {
    border-color: #10cab7 ;
    width: 50% ;
    display: inline-block ;
}
.about .about-content .text p:last-of-type {
    line-height: 2 ;
    color: #777;
}
/* End About Style  */
/* Stert Contact Style */
.contect {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #f6f6f6;
}
.contect .info {
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center ;
}
.contect .info .lapol {
    font-size: 35px ;
    font-weight: 800 ;
    color: #2c4755 ;
    letter-spacing: -2px ;
    margin-bottom: 15px ;
}
.contect .info .link {
    display: block ;
    font-size: 35px ;
    font-weight: 800 ;
    color: #10cab7 ;
    text-decoration: none ; 
}
.contect .info .sociol {
    display: flex ;
    justify-content: center ;
    margin-top: 20px ;
    font-size: 16px ;
}
.contect .info .sociol i {
    margin-left: 10px ;
    color: #2c4755 ;
}
@media (max-width: 767px) {
    .contect .info .link,
    .contect .info .lapol {
        font-size: 25px ; 
    }
}
/* End Contact Style */
/* Start Footer Style */
.footer {
    background-color: #2c4755 ;
    color: white ;
    padding: 30px 10px ;
    text-align: center ;
    font-size: 18px ;
}
.footer span {
    font-weight: bold ;
    color: #10cab7 ;
}
/* End Footer Style */
